.sidebar {
    height: calc(100dvh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s ease-out;
}

.switchers {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.collapseBtn {
    position: absolute;
    right: -40px;
    bottom: 40px;
}

.items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 30px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        transition: opacity 0.2s ease-out;
        white-space: nowrap;
    }
}

.icon {
    flex-shrink: 0;
    fill: var(--inverted-primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .item {
        span {
            opacity: 0;
            pointer-events: none;
        }
    }
}
